
.row-fluid {
    width: 100%;
}
.row-fluid::before, .row-fluid::after {
    content: "";
    display: table;
    line-height: 0;
}
.row-fluid::after {
    clear: both;
}
.row-fluid [class*="span"] {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.76243%;
    min-height: 30px;
    width: 100%;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.76243%;
}
.row-fluid .span12 {
    width: 100%;
}
.row-fluid .span11 {
    width: 91.4365%;
}
.row-fluid .span10 {
    width: 82.8729%;
}
.row-fluid .span9 {
    width: 74.3094%;
}
.row-fluid .span8 {
    width: 65.7459%;
}
.row-fluid .span7 {
    width: 57.1823%;
}
.row-fluid .span6 {
    width: 48.6188%;
}
.row-fluid .span5 {
    width: 40.0552%;
}
.row-fluid .span4 {
    width: 31.4917%;
}
.row-fluid .span3 {
    width: 22.9282%;
}
.row-fluid .span2 {
    width: 14.3646%;
}
.row-fluid .span1 {
    width: 5.80111%;
}
.row-fluid .offset12 {
    margin-left: 105.525%;
}
.row-fluid .offset12:first-child {
    margin-left: 102.762%;
}
.row-fluid .offset11 {
    margin-left: 96.9613%;
}
.row-fluid .offset11:first-child {
    margin-left: 94.1989%;
}
.row-fluid .offset10 {
    margin-left: 88.3978%;
}
.row-fluid .offset10:first-child {
    margin-left: 85.6354%;
}
.row-fluid .offset9 {
    margin-left: 79.8343%;
}
.row-fluid .offset9:first-child {
    margin-left: 77.0718%;
}
.row-fluid .offset8 {
    margin-left: 71.2707%;
}
.row-fluid .offset8:first-child {
    margin-left: 68.5083%;
}
.row-fluid .offset7 {
    margin-left: 62.7072%;
}
.row-fluid .offset7:first-child {
    margin-left: 59.9447%;
}
.row-fluid .offset6 {
    margin-left: 54.1437%;
}
.row-fluid .offset6:first-child {
    margin-left: 51.3812%;
}
.row-fluid .offset5 {
    margin-left: 45.5801%;
}
.row-fluid .offset5:first-child {
    margin-left: 42.8177%;
}
.row-fluid .offset4 {
    margin-left: 37.0166%;
}
.row-fluid .offset4:first-child {
    margin-left: 34.2541%;
}
.row-fluid .offset3 {
    margin-left: 28.453%;
}
.row-fluid .offset3:first-child {
    margin-left: 25.6906%;
}
.row-fluid .offset2 {
    margin-left: 19.8895%;
}
.row-fluid .offset2:first-child {
    margin-left: 17.1271%;
}
.row-fluid .offset1 {
    margin-left: 11.326%;
}
.row-fluid .offset1:first-child {
    margin-left: 8.56354%;
}
.header-container {
    background: transparent none repeat scroll 0 0;
}
.header-container .width-container {
    position: relative;
}
header {
/*    background: transparent none repeat scroll 0 0;
    box-shadow: none;
    max-width: 340px;
    padding: 0;
    position: absolute;
    top: 65px;*/
    z-index: 15;
}
/*header.aligntop {
    bottom: auto;
    top: 34px;
}
.title a {
    color: #484848;
}

.site-logo {
    height: 100px;
    left: 0;
    margin: 0;
    position:relative;
    top: -20px;
    width: 300px;
    z-index: 15;
}
.site-logo header, .site-logo header.splash {
    bottom: 0;
    float: left;
    margin-left: 0;
    position: absolute;
    top: initial;
}*/
.width-container {
    margin: 0 5%;
    padding: 0;
    width: 90%;
}
.width-container.main {
    padding: 50px;
}
.width-container.main.homepage {
    padding: 0;
}
.like-page {
    border: medium none;
    padding: 0;
}
.homepage_excerpt-list + .like-page::after {
    display: none;
}
footer {
    margin: 0px;
	padding:25px 0 25px 0;
}
footer > .width-container {
    position: relative;
    z-index: 5;
}
footer .footer-right {
    margin-top: 0;
    text-align: right;
}
footer .row-fluid [class*="span"] {
    min-height: 0;
}
footer .row-fluid .footer-supporter-tiles-wrap[class*="span"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 240px 0 0 #39b54a, 0 -1px 0 0 #39b54a;
    min-height: 250px;
    padding: 35px 38px 38px;
    position: relative;
    z-index: 5;
}
.footer-content, .footer-social-links {
    padding: 35px 0;
}
.wrap.active {
    left: 0;
}
.wrap.sidebar-active {
    filter: blur(1.5px);
}
.sharetable {
    display: block;
    width: 487px;
}
.sharetable .facebook-cell {
    float: left;
    margin-bottom: 0;
    padding: 0 20px 0 0;
    text-align: left;
    vertical-align: top;
    width: 320px;
}
.sharetable .twitter-cell {
    float: left;
    padding: 0 20px 0 0;
    text-align: left;
    vertical-align: top;
    width: 75px;
}
.sharetable .gplus-cell {
    float: left;
    text-align: left;
    vertical-align: top;
    width: 52px;
}
.mobile-visible {
    display: none;
}
.desktop-visible {
    display: block;
}
.flash-share .float {
    float: right;
}
.email-signup input.text {
    width: 73%;
}
.email-signup .submit-button {
    width: 27%;
}
.menu-link {
    display: none;
}
nav, .subnav {
    background-color: transparent;
    border-right: 0 none;
    border-top: 0 none;
    height: auto;
    left: 0;
    position: relative;
    width: 100%;
}
nav .topnav, .subnav .topnav {
    clear: both;
    list-style: outside none none;
    margin: 0 -20px 0 300px;
    min-height: 35px;
    text-align: right;
}
nav li, .subnav li {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    line-height: 20px;
}
nav li a, .subnav li a {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #484848;
    display: block;
    height: 100%;
    padding: 0;
    position: relative;
    width: 100%;
}
nav li a:hover, .subnav li a:hover {
    background: transparent none repeat scroll 0 0;
}
nav li > a, .subnav li > a {
    color: #484848;
    padding: 8px 20px;
    transition: all 0.15s ease 0s;
}
nav li.active, .subnav li.active {
    border-color: transparent;
}
nav li.active > a, .subnav li.active > a {
    color: #fff;
}
nav li:hover > a, .subnav li:hover > a {
    color: rgba(72, 72, 72, 0.75);
}
nav li.blurred > a, .subnav li.blurred > a {
    opacity: 0.33;
}
nav li:last-child, .subnav li:last-child {
    padding-bottom: 15px;
}
nav li.drop, .subnav li.drop {
    transition: padding 0.3s ease 0s;
}
nav li.drop:hover, .subnav li.drop:hover {
    padding-bottom: 72px;
}
nav li.drop:hover a::after, .subnav li.drop:hover a::after {
    opacity: 1;
}
nav li.drop:hover .sub, .subnav li.drop:hover .sub {
    opacity: 1;
    visibility: visible;
}
nav li.drop.no-animate, .subnav li.drop.no-animate {
    transition: none 0s ease 0s !important;
}
nav li.drop > a::after, .subnav li.drop > a::after {
    color: #cecfc3;
    content: "▲";
    display: block;
    font-family: "Lato",Helvetica,Arial,sans-serif;
    font-size: 20px;
    left: 40%;
    opacity: 0;
    position: absolute;
    top: 32px;
    transform: scale(2, 1);
    transition: opacity 0.3s ease 0s;
    width: auto;
}
nav li.drop i, .subnav li.drop i {
    font-size: 14px;
    transition: none 0s ease 0s ;
    vertical-align: -3%;
}
nav .sub, .subnav .sub {
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    visibility: hidden;
}
nav .sub li a, .subnav .sub li a {
    background: transparent none repeat scroll 0 0;
}
nav .sub li a:hover, .subnav .sub li a:hover {
    background: transparent none repeat scroll 0 0;
}
nav .sub {
    background-color: #cecfc3;
    color: #484848;
    padding: 15px;
    text-align: center;
    top: 50px;
    width: 100%;
}
nav .sub li {
    background: transparent none repeat scroll 0 0;
    border: medium none transparent;
    color: #39b54a;
    font-size: 13px;
    line-height: 18px;
    margin-left: 15px;
    padding: 0;
    width: auto;
}
nav .sub li.mobile-visible {
    display: none;
}
nav .sub li:hover a {
    color: #5c5c5c;
}
nav .sub li:active a {
    color: #39b54a;
}
nav .sub li a {
    color: #484848;
}
nav .sub a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #484848;
    padding: 5px 20px;
}
nav .sub a:hover {
    color: #5c5c5c;
    text-decoration: none;
}
.subnav {
    clear: both;
    float: left;
    font-family: "Titillium Web",Helvetica,Arial,sans-serif;
    font-size: 13.5px;
    font-weight: 700;
    margin: 0 -20px 20px;
    padding: 0;
    text-transform: uppercase;
}
.subnav > li > a {
    color: #dcddd4;
}
.subnav > li:hover > a {
    color: #cecfc3;
    opacity: 0.8;
}
.subnav > li.active > a {
    color: #39b54a;
}
.subnav li {
    position: relative;
}
.subnav li.drop:hover {
    padding-bottom: 8px;
}
.subnav li.drop a::after {
    display: none;
}
.subnav .sub {
    background: #484848 none repeat scroll 0 0;
    left: 3px;
    margin-top: 5px;
    padding: 7px 17px 14px;
    text-align: left;
    width: 200px;
}
.subnav .sub li {
    display: block;
    margin: 0;
    padding: 0;
}
.subnav .sub li:last-child {
    border: medium none;
}
.subnav .sub li:hover a {
    color: #dbdbd3;
}
.subnav .sub li a {
    color: #c8c9bd;
    padding: 10px 0 0;
}
.subnav .sub li a:hover {
    opacity: 0.8;
}
.homepage .subnav > li > a {
    color: #484848;
}
.homepage .subnav > li.active > a {
    color: #fff;
}
.postcard {
    margin: 0 -50px;
    padding-left: calc(50% + 50px);
}
.postcard #events_map {
    height: 100% !important;
    position: absolute;
    width: 100%;
}
.postcard-image, .excerpt-postcard-image {
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 50%;
}
.postcard-image::after, .excerpt-postcard-image::after {
    color: #484848;
    content: "◀";
    font-size: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    text-align: right;
    top: calc(50% - 12px);
    transform: scale(1, 1.25);
    width: 18px;
}
.page-excerpt {
    margin-left: -50px;
    margin-right: -50px;
}
.progress-container {
    margin: 50px -50px;
    padding-left: 50px;
    padding-right: 50px;
}
.homepage-excerpt, .page-excerpt {
    margin-bottom: 40px;
    padding: 50px 50px 50px 125px;
}
.homepage-excerpt .excerpt-child, .page-excerpt .excerpt-child {
    background: #fefefe none repeat scroll 0 0;
    padding: 50px 50px 50px 0;
}
.homepage-excerpt .excerpt-child:first-of-type, .page-excerpt .excerpt-child:first-of-type {
    margin-top: -50px;
}
.homepage-excerpt .excerpt-child:first-of-type .excerpt-postcard-image, .page-excerpt .excerpt-child:first-of-type .excerpt-postcard-image {
    margin-top: 0;
}
.homepage-excerpt .excerpt-child:last-child, .page-excerpt .excerpt-child:last-child {
    margin-bottom: -50px;
    padding-bottom: 50px;
}
.homepage-excerpt .excerpt-child.postcard, .page-excerpt .excerpt-child.postcard {
    margin-left: -125px;
    margin-right: -50px;
    padding-left: calc(50% + 140px);
    position: relative;
}
.homepage-excerpt .excerpt-child:not(.postcard) + .excerpt-child:not(.postcard), .page-excerpt .excerpt-child:not(.postcard) + .excerpt-child:not(.postcard) {
    padding-top: 0;
}
.homepage-excerpt .excerpt-child.even.postcard, .page-excerpt .excerpt-child.even.postcard {
    padding: 50px calc(50% + 140px) 50px 50px;
}
.homepage-excerpt .excerpt-child.even.postcard .excerpt-postcard-image, .page-excerpt .excerpt-child.even.postcard .excerpt-postcard-image {
    left: auto;
    right: 0;
}
.homepage-excerpt .excerpt-child.even.postcard .excerpt-postcard-image::after, .page-excerpt .excerpt-child.even.postcard .excerpt-postcard-image::after {
    left: 0;
    right: auto;
    transform: rotate(180deg) scale(1, 1.25);
}
.homepage-excerpt .excerpt-child div.share-container:last-child, .page-excerpt .excerpt-child div.share-container:last-child {
    margin-bottom: -50px;
}
.homepage-excerpt .has-goal, .page-excerpt .has-goal {
    width: 56%;
}
.homepage-excerpt .progress-container, .page-excerpt .progress-container {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}
.homepage-excerpt .excerpt-postcard-image, .page-excerpt .excerpt-postcard-image {
    margin: 0;
}
.homepage-excerpt.basic {
    border-left: 18px solid #39b54a;
    padding-left: 50px;
    padding-top: 50px;
}
.page-excerpt {
    margin-bottom: 40px;
    padding: 30px 50px;
    width: calc(100% + 100px);
}
.page-excerpt .excerpt-child {
    padding: 30px 0;
}
.page-excerpt .excerpt-child:first-of-type {
    margin-top: -30px;
}
.page-excerpt .excerpt-child:last-child {
    margin-bottom: -30px;
    padding-bottom: 30px;
}
.page-excerpt .excerpt-child.postcard {
    margin-left: -50px;
    padding-left: calc(50% + 80px);
    padding-right: 50px;
}
.excerpt-postcard-image::after {
    color: #fefefe;
}
.page-follow {
    float: right;
    margin-top: -25px;
}
#stream {
    margin-top: 45px;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
    margin-left: -22px;
}
.checkbox, .radio {
    margin-left: 22px;
}
.radio-inline span, .checkbox-inline span {
    display: inline-block;
    white-space: nowrap;
}
.radio-inline span:last-child label.radio, .radio-inline span:last-child label.checkbox, .checkbox-inline span:last-child label.radio, .checkbox-inline span:last-child label.checkbox {
    margin-right: 0;
}
.radio-inline input[type="radio"], .radio-inline input[type="checkbox"], .checkbox-inline input[type="radio"], .checkbox-inline input[type="checkbox"] {
    display: inline-block;
    margin: 0;
}
.radio-inline input[type="radio"]:checked + label, .radio-inline input[type="checkbox"]:checked + label, .checkbox-inline input[type="radio"]:checked + label, .checkbox-inline input[type="checkbox"]:checked + label {
    background-color: transparent;
    color: #39b54a;
}
.radio-inline label, .checkbox-inline label {
    display: block;
}
.radio-inline label.radio, .radio-inline label.checkbox, .checkbox-inline label.radio, .checkbox-inline label.checkbox {
    background-color: transparent;
    color: #484848;
    display: inline-block;
    font-family: "Lato",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0 10px 10px 3px;
    min-width: 0;
    padding: 0;
    position: relative;
    text-align: left;
    text-transform: none;
    top: 2px;
    width: auto;
}
.radio-inline label.radio .option_label, .radio-inline label.checkbox .option_label, .checkbox-inline label.radio .option_label, .checkbox-inline label.checkbox .option_label {
    display: inline;
}
.radio-inline label.checkbox, .checkbox-inline label.checkbox {
    font-size: inherit;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
}
.radio-inline.checkbox-inline, .checkbox-inline.checkbox-inline {
    vertical-align: top;
}
.radio-inline.checkbox-inline li, .checkbox-inline.checkbox-inline li {
    width: auto;
}
.radio-inline.checkbox-inline li label, .checkbox-inline.checkbox-inline li label {
    width: auto;
}
.radio-inline.checkbox-inline li input[type="checkbox"], .checkbox-inline.checkbox-inline li input[type="checkbox"] {
    vertical-align: middle;
}
.radio.inline, .checkbox.inline, .inline label.radio {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    padding-top: 5px;
    vertical-align: middle;
}
.radio.inline:first-child, .checkbox.inline:first-child, .inline label.radio:first-child {
    margin-left: 0;
}
input[type="checkbox"], input[type="radio"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    padding: 0;
}
.cc {
    padding-bottom: 10px;
}

.byline {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 174px;
}
.byline ~ * {
    padding-right: 154px;
}
.byline ~ * .page-follow {
    visibility: hidden;
}
.byline li i + span {
    display: inline-block;
    max-width: 100px;
    vertical-align: middle;
    word-wrap: break-word;
}

.has-background-image .main.width-container.homepage .homepage-excerpt, .has-background-image .main.width-container.homepage .page-excerpt {
    background: rgba(254, 254, 254, 0.8) none repeat scroll 0 0;
}
.has-background-image .main.width-container .excerpt-child {
    background: transparent none repeat scroll 0 0;
}
.has-background-image .participate {
    background: rgba(206, 207, 195, 0.8) none repeat scroll 0 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    margin-left: -29px;
}
.checkbox, .radio {
    margin-left: 29px;
}
.site-logo {
    height: auto;
    margin: 15px 85px;
    position: relative;
    top: 0;
    width: auto;
}
.site-logo header, .site-logo header.splash {
    float: none;
    position: relative;
}
.site-logo header a, .site-logo header.splash a {
    position: relative;
}
.title a {
    color: #484848;
}
nav {
    background: #484848 none repeat scroll 0 0;
    color: #c8c9bd;
    float: none;
    font-family: "Titillium Web",Helvetica,Arial,sans-serif;
    height: 100%;
    left: -16em;
    margin: 0;
    position: absolute;
    top: 0;
    width: 16em;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    display: block;
    font-size: 13.5px;
    font-weight: 700;
    list-style: outside none none;
    text-transform: uppercase;
}
nav li.blurred > a {
    opacity: 1;
}
nav li a {
    background: #484848 none repeat scroll 0 0;
    border-bottom: 1px solid #222;
    color: #c8c9bd;
    display: block;
    padding: 0.8em 1.5em;
}
nav li a:hover {
    background: #343434 none repeat scroll 0 0;
    color: #dbdbd3;
}
nav .sub {
    display: none;
}
nav .sub li {
    background-color: #3b3b3b;
}
nav .sub li:last-child {
    border-bottom: medium none;
}
nav .sub li a {
    background: #343434 none repeat scroll 0 0;
}
nav .sub li a:hover {
    background: #404040 none repeat scroll 0 0;
}
nav .topnav {
    margin: 0;
    padding: 0;
    text-align: left;
}
nav li {
    border-radius: 0;
    line-height: 21px;
    margin: 0;
    padding: 0;
}
nav li:hover > a {
    color: #c8c9bd;
}
nav li.active > a {
    color: #c8c9bd;
}
nav li.drop:hover {
    padding-bottom: 0;
}
nav li.drop a::after {
    display: none;
}
nav li a {
    padding: 0.8em 1.5em;
}
nav .sub {
    padding: 0;
    position: static;
    text-align: left;
    width: 100%;
}
nav .sub li {
    font-size: 13.5px;
    line-height: 21px;
    margin-left: 0;
}
nav .sub li.mobile-visible {
    display: block;
}
nav .sub li a {
    padding: 0.8em 1.5em;
}
.calendar-search-form .postcard-content .email-signup input.text {
    padding: 8px 13px;
}
.calendar-search-form .postcard-content .email-signup input.submit-button {
    font-size: 20px;
    padding: 15px 0;
}
.menu-link {
    display: block;
    margin-left: 0;
    width: 68px;
    z-index: 5;
}

.wrap.active {
    left: 16em;
}
.wrap.sidebar-active {
    filter: none;
}
iframe[src*="youtube"] {
    display: none;
}
.responsive-embed-wrapper iframe {
    display: block;
}
.fb-like-box iframe {
    display: block;
}
.header-container {
 /*   background: #fefefe none repeat scroll 0 0;*/
}
.header-container .width-container {
    margin: 0;
    width: 100%;
}
header {
    max-width: none;
    padding: 12px 0 12px 80px;
    position: relative;
    top: 0;
    z-index: 1;
}
.splash header {
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
    padding-left: 0;
    text-align: center;
    top: 0;
}
.tablet-visible {
    display: block;
}
.desktop-visible .subnav-container {
    display: none;
}
footer .row-fluid .span6, footer .row-fluid .span4 {
    width: 40.0552%;
}

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (min-width: 801px) {
nav .drop:hover .sub {
    display: block;
}
}
@media only screen and (min-width: 1300px) {
.width-container {
    margin: 0 auto;
    width: 1170px;
}

}

/***********************************************************************************
********************************* GOV.uk + HUGE styling  ***************************
************************************************************************************/

 body > nav #toggle { 
	  display:none;
	  }
	  
body > nav .bar {
    width: 90%;
}


div.video_block {
	float:left;
	width:30%;
	margin:0 3% 0 0;
	display:block;
	background:red;
}